:root {
    /* CSS HEX */
--platinum: #eaeaeaff;
--lavender-blue: #cbc5eaff;
--french-lilac: #73628aff;
--space-cadet: #313d5aff;
--gunmetal: #183642ff;
}

body {
    background-color: var(--french-lilac);
    margin: 0;
    min-height: 100vh;
    display: grid;
    grid-template-rows: auto 1fr auto;
    font-family: Arial, Helvetica, sans-serif;
}

.header {
    background-color: var(--lavender-blue);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
}
.navigation a {
    color: var(--space-cadet);
    padding: 15px;
    text-decoration: none;
    font-size: 18px;
}
.navigation {
    display: flex;
    flex-direction: row;
}
.logo {
    width: 60px;
    padding: 15px;
}

.footer {
    background-color: var(--lavender-blue);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
/* nav for meta links */
.footer-navigation {
    display: flex;
    flex-direction: row;
}
.footer-navigation a {
    color: var(--space-cadet);
    padding: 15px;
    text-decoration: none;
}
/* nav for social media icons */
.social {
    display: flex;
    flex-direction: row;
    min-width: 100px;
    justify-content: space-between;
}
.social a {
    color: var(--space-cadet);
    font-size: 32px;
    display: block;
    padding: 10px;
}

.front-banner {
    background-image: url("images/gaming-fredrick.jpg");
    min-height: 70vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.banner-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.banner-content h1 {
    color: var(--platinum);
}
.banner-content button {
    background-color: var(--french-lilac);
    font-size: 20px;
    padding: 15px;
    border: 1px solid var(--space-cadet);
    border-radius: 30px;
    min-width: 200px;
}